* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h5 {
    display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        
      
}

.card {
    width: 18rem !important;
}

#book-container img {
    height: 60%;
}

.style-button-modal {
    background-color: brown;
}

#icona-carrello {
    font-size: 1.5rem;
}